<div *ngIf="isResponseReceived" class="add_pizza_wrapper">
  <form [formGroup]="form" (ngSubmit)="updatePizza(form.value)">
    <div class="add_pizza_form_wrapper">
      <h3>Update required fields</h3>
      <label>Pizza name</label>
      <input type="text" name="name" formControlName="name"/>
      <label>Select size</label>
      <select name="size" formControlName="size">
        <option disabled selected>Choose size</option>
        <option value="SMALL">SMALL</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="BIG">BIG</option>
      </select>
      <label>Pizza price</label>
      <input type="text" name="price" formControlName="price"/>
      <label>Old pizza image</label>
      <img *ngIf="pizza" src="{{pizza.icon}}">
      <label>Choose a new pizza image</label>
      <input type="file" (change)="onFileChanged($event)">
      <button type="submit">Submit</button>
      <p class="infoMessage">{{infoMessage}}</p>
    </div>
  </form>
</div>
