<div class="admin_wrapper">
  <div class="admin_table_wrapper">
    <div class="admin_output_wrapper">
      <div class="pizza_page">
        <div class="list_header">
          <p>Image</p>
          <p>Name</p>
          <p>Size</p>
          <p>Price</p>
        </div>
        <div class="pizza_item_wrapper" *ngFor="let pizza of pizzaList">
          <div class="item">
            <img src="{{pizza.icon}}">
            <p>{{pizza.name}}</p>
            <p>{{pizza.size}}</p>
            <p>{{pizza.price}}</p>
          </div>
          <nav>
            <button class="update_button" [routerLink]="['/update-pizza', pizza.id]">Update</button>
            <button class="disable_button">Disable</button>
            <button class="delete_button" (click)="deletePizzaFromOrder(pizza)">Delete</button>
          </nav>
        </div>
        <div class="submit_wrapper">
          <div>Total price: {{totalPrice}}</div>
          <input type="text" [(ngModel)]="order.address"/>
          <button (click)="approveOrder()">Approve the Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
